/* Bootstrap
============================================== */

@import url("https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css");

/* Google Fonts
============================================== */

@import url('https://fonts.googleapis.com/css?family=Indie+Flower&display=swap');

/* Local Font
============================================== */

@font-face {
    font-family: 'digital-7regular';
    src: url('../fonts/digital-7-webfont.woff2') format('woff2'), url('../fonts/digital-7-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


/* Global Configuration
============================================== */

body {
    background-image: url('../images/background.svg');
    /* background: #2638dd; */
}

header h1 {
    margin: 0;
    padding: 20px;
    text-align: center;
    font-weight: bold;
    font-family: cursive;
    font-size: 5.2em;
}

main h3 {
    margin-top: 1%;
    font-size: 3.2em;
    text-align: center;
    font-family: 'Indie Flower', cursive;
}

div.maxWidth {
    display: inline-block;
    padding: 1%;
    margin: 1%;
    width: 19rem;
    max-width: 19rem;
    height: 15rem;
    overflow: hidden;
}

div.maxWidth:hover {
    cursor: pointer;
    -webkit-transform: scale(1.3);
    -ms-transform: scale(1.3);
    transform: scale(1.3);
    background: #a09f9fb4;
}

div.genCat {
    margin: 5% auto;
    margin-top: 2%;
    text-align: center;
    width: 90%;
}

div p.return a {
    font-size: 20px;
    color: #ffffff;
}

div.jumbotron {
    margin-top: 1%;
    border-radius: 10px;
}

div.timer {
    font-family: 'digital-7regular', 'Orbitron', sans-serif;
    font-size: 5vw;
    text-align: center;
    line-height: 0.6;
    padding-top: 5px;
    font-weight: bold;
    color: #ffffff;
}

h1.display-4 {
    font-size: 1.5rem;
    text-align: center;
    font-weight: bold;
}

div.answerContainer {
    text-align: center;
}

div.answer {
    display: inline-block;
    margin: 1%;
    padding: 30px;
    border-radius: 5px;
    font-weight: bold;
    background: white;
    cursor: pointer;
}

div.answer:hover {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    background: #a09f9fb4;
}

div.alert {
    font-weight: bold;
    text-align: center;
}

footer {
    padding: 15px;
    position: fixed;
    bottom: 0;
    color: white;
    text-align: center;
    font-size: 14px;
    height: 50px;
    width: 100%;
    background: rgba(52, 58, 64, 0.72);
}